<% content_for :title, "About us" %>
<h1>About Us</h1>
<p>A system that allows you to record sessions and allows participants to rate them</p>
<p>Before recording the information about sessions, you must first enter the names of all of the teaching staff in the
<%= link_to 'Lecturers', new_lecturer_path %> form.</p>
<p>After that enter the details (title and date) of the sessions taught in the 
<%= link_to 'New Sessions', new_session_path %> form.</p>
<p>After entering the session details, the sessions can be rated.</p>