<%= form_for(session) do |f| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  
  <div class="field">
    <%= f.label :"Select all the lecturers who teach this session:" %> <br>
   <% Lecturer.all.each do |lecturer| %>
    <%= check_box_tag "session[lecturer_ids][]", lecturer.id,
    @session.lecturer_ids.include?(lecturer.id) %>
    <%= lecturer.name %> <br>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
