<% content_for :title, "View Sessions" %>
<p id="notice"><%= flash[:notice] %></p> 

Click on a session to rate it<br />
<% if !@sessions.blank? %>
  <table border = 1>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  <% @sessions.each do |session| %>
    <tr>
      <td><%= link_to session.title, :controller => :surveys, :action => :new, :id => session.id%></td>
      <td><%= session.date %></td>
      <td><%= link_to 'Edit', edit_session_path(session) %></td>
      <td><%= link_to 'Delete Session', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>  
    <% end %>
    </table>
  <% else %>
  No Sessions Entered Yet
<% end %>  