Session: <%= @session.title %>, Date:<%= @session.date %>  (<%= link_to "back", sessions_path %>)<br>
Lecturers:
<% @session.lecturers.each do |lecturer| %> 
<%= lecturer.name %> ,
<% end %>
<hr />
<%= form_for @survey, :url => {:action => :create, :id => @session.id} do |f| -%>
   
      <%= f.radio_button :rating, 1, :onclick => "this.form.submit();" %> 1 
      <%= f.radio_button :rating, 2, :onclick => "this.form.submit();" %> 2
      <%= f.radio_button :rating, 3, :onclick => "this.form.submit();" %> 3
      <%= f.radio_button :rating, 4, :onclick => "this.form.submit();" %> 4
      <%= f.radio_button :rating, 5, :onclick => "this.form.submit();" %> 5
<% end -%>
<hr />
<% if @session.surveys.exists? %>
   <table border = 1>
      <tr>
         <th>Session Ratings</th>
         <th colspan="1"></th>
      </tr>
 <% @session.surveys.each do |survey| %>
      <% if !survey.rating.nil? %>
         <tr>
            <td><%= survey.rating %></td>
             <td><%= link_to 'Delete survey', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      <% end %>   
   <% end %>
   </table>
<% else %>
No surveys yet
<% end %>
     
   