<% content_for :title, "New Lecturer" %>
<h1>Enter new lecturer information:</h1>

<%= render 'form', lecturer: @lecturer %>

List of all lecturers <br />
<% if !@lecturer.blank? %>
  <table border = 1>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
   <% @lecturers.each do |lecturer| %>
    <tr>
      <td><%= lecturer.name %></td>
       <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
      <td><%= link_to 'Delete Lecturer', lecturer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>  
    <% end %>
    </table>
  <% else %>
  No Lecturers Entered Yet
<% end %>  
