<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="row">
  <div class="small-12 large-12 columns">
    <nav>
      <div class="menu-centered">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to 'Home', root_url %>
          <li><%= link_to 'About us', pages_path('aboutus') %></li>
          <li><%= link_to 'Lecturers', new_lecturer_path %></li>
          <li>
            <a href="#"><%= 'Sessions' %></a>
            <ul class="menu">
              <li><%= link_to 'Add a new session', new_session_path %></li>
              <li><%= link_to 'View all sessions', sessions_path %></li>
            </ul>
          </li>
        </ul>    
      </div>
    </nav>
  </div>
  <%= yield %>
</div>  
</body>

</html>
